/* PHOTON IMPLEMENT */
.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    position: relative;

    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    margin-bottom: 15px;

}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    right: -2px;
    bottom: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

/* Ajustar el z-index y la posición de la ventana modal para evitar superposiciones */
.ui-dialog {
    z-index: 10000; /* Asegura que la ventana modal esté por encima de otros elementos */
    position: fixed; /* Fija la posición de la ventana modal */
    top: 50%; /* Ajusta la posición verticalmente */
    left: 50%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -50%); /* Centra la ventana modal en la pantalla */
  }
  
  /* Ajustar el contenido interno de la ventana modal */
  .ui-dialog-content {
    max-height: 80vh; /* Ajusta la altura máxima del contenido */
    overflow-y: auto; /* Agrega desplazamiento vertical cuando el contenido es demasiado largo */
  }
 
  
  
  
  
  
  