<div class="card p-3">

    <p-toolbar styleClass="mb-3 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-primary mr-2"
                (click)="openNewUser()" pTooltip="Nuevo usuario" tooltipPosition="bottom"></button>
        </ng-template>

    </p-toolbar>

    <p-table #dt [value]="listUsuarios" [lazy]="true" (onLazyLoad)="loadUsuarioLazy($event)" dataKey="idUsuario"
        [tableStyle]="{ 'min-width': '75rem' }" [paginator]="true" [rows]="size" [totalRecords]="totalRecords"
        [rowHover]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Usuario/S"
        [showCurrentPageReport]="true" [loading]="loading"
        [globalFilterFields]="['idUsuario', 'username', 'usuario.persona.identificacion']">

        <ng-template pTemplate="caption">

            <div class="grid p-fluid align-items-center">
                <div class="col-12 md:col-8">
                    <div class="p-inputgroup">
                        <h5 class="m-0"><strong>GESTIÓN DE USUARIOS</strong></h5><br>
                    </div>
                </div>

                <div class="col-12 md:col-4">


                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Cédula o nombre de usuario.."
                            (input)="searchInput$.next($any($event.target).value)"
                            pTooltip="Encontrar por cédula o nombre de usuario" tooltipPosition="top" />
                    </span>

                </div>

            </div>

        </ng-template>


        <ng-template pTemplate="header" class="text-aling-center">
            <tr>
                <th pSortableColumn="idUsuario" style="min-width:2rem"><strong>ID</strong> <p-sortIcon
                        field="idUsuario"></p-sortIcon></th>

                <th pSortableColumn="username" tyle="min-width:18rem"><strong>USERNAME</strong> <p-sortIcon
                        field="username"></p-sortIcon>
                </th>

                <th pSortableColumn="persona.nombre1" style="min-width:15rem"><strong>NOMBRES/APELLIDOS</strong>
                    <p-sortIcon field="persona.nombre1"></p-sortIcon>
                </th>

                <th pSortableColumn="persona.identificacion" style="min-width:10rem">
                    <strong>IDENTIFICACIÓN</strong> <p-sortIcon field="persona.identificacion"></p-sortIcon>
                </th>

                <th pSortableColumn="estadoUsuario" style="min-width:10rem"><strong>ESTADO</strong> <p-sortIcon
                        field="estadoUsuario"></p-sortIcon>
                </th>

                <th>
                    <strong>GESIÓN</strong>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{ usuario.idUsuario }}</td>
                <td>

                    <img [src]="getUriFile(usuario.fotoPerfil)" width="32" style="vertical-align: middle" />
                    <span class="ml-1 vertical-align-middle">{{ usuario.username }}</span>


                </td>
                <td>{{ usuario.persona.nombre1 }} {{ usuario.persona.apellido1 }}</td>
                <td>{{ usuario.persona.identificacion }}</td>
                <td><p-tag [value]="usuario.estadoUsuario ? 'Activado' : 'Desactivado'"
                        [severity]="usuario.estadoUsuario ?'success' : 'danger' "></p-tag></td>

                <td>
                    <button pButton pRipple icon="pi pi-pencil" (click)="editUsuario(usuario)"
                        class="p-button-rounded p-button-success p-button-outlined mr-2"
                        [pTooltip]="'Editar Usuario: '+usuario.username" tooltipPosition="top"></button>

                    <button pButton pRipple [icon]="usuario.estadoUsuario ? 'pi pi-check' : 'pi pi-trash'"
                        [ngClass]="'p-button-rounded ' + (usuario.estadoUsuario ? 'p-button-secondary' : 'p-button-danger') + ' p-button-outlined mt-1'"
                        (click)="messageConfirmation(usuario)"
                        [pTooltip]="(usuario.estadoUsuario ? 'Desactivar':'Activar')+' a: '+usuario.username"
                        tooltipPosition="bottom">
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total son {{ listUsuarios ?
                totalRecords : 0 }} Usuarios.</div>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" header="NUEVO USUARIO" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="formUserNew">

            <div class="field">
                <label for="identificacion"><strong>Identificación: (*)</strong></label>
                <input type="identificacion" pInputText id="identificacion" name="identificacion"
                    placeholder="Identificación / Cédula" formControlName="identificacion"
                    [class.is-invalid]="formUserNew.get('identificacion')!.invalid && formUserNew.get('identificacion')!.touched"
                    class="form-control" formcontrolname="identificacion" [maxlength]="10"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                    (input)="findPersonByIdentificacion($any($event.target).value)" required autofocus />

                <div
                    *ngIf="formUserNew.get('identificacion')?.invalid && formUserNew.get('identificacion')?.touched || formUserNew.get('identificacion')?.dirty">
                    <small class="text-danger"
                        *ngIf="formUserNew.get('identificacion')?.errors?.['required']"><strong>Identificación
                            es
                            requerido.</strong></small>
                    <small class="text-danger"
                        *ngIf="formUserNew.get('identificacion')?.errors?.['minlength']"><strong>Minimo
                            requerido es 10.</strong></small>
                    <small class="text-danger" *ngIf="respose && respose.ci">
                        <strong>{{respose.ci}}</strong></small>
                </div>

            </div>

            <div class="field">
                <label for="correo"><strong>Correo electrónico: (*)</strong></label>
                <input type="correo" pInputText id="correo" name="correo" placeholder="Ej: example@email.com"
                    formControlName="correo"
                    [class.is-invalid]="formUserNew.get('correo')!.invalid && formUserNew.get('correo')!.touched"
                    class="form-control" formcontrolname="correo" required />

                <div
                    *ngIf="formUserNew.get('correo')?.invalid && formUserNew.get('correo')?.touched || formUserNew.get('correo')?.dirty">
                    <small class="text-danger" *ngIf="formUserNew.get('correo')?.errors?.['required']"><strong>Correo es
                            requerido.</strong></small>
                    <small class="text-danger" *ngIf="formUserNew.get('correo')?.errors?.['pattern']"><strong>Dirección
                            de correo
                            invalido.</strong> </small>
                    <small class="text-danger" *ngIf="respose && respose.emailValidate">
                        <strong>{{respose.emailValidate}}</strong></small>
                </div>
            </div>

            <div class="field">
                <label for="username"><strong>Nombre de Usuario: (*)</strong></label>
                <input type="username" pInputText id="username" name="username" placeholder="Nombre de usuario"
                    formControlName="username"
                    [class.is-invalid]="formUserNew.get('username')!.invalid && formUserNew.get('username')!.touched"
                    class="form-control" formcontrolname="username" [maxlength]="12"
                    onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                    required />

                <div
                    *ngIf="formUserNew.get('username')?.invalid && formUserNew.get('username')?.touched || formUserNew.get('username')?.dirty">
                    <small class="text-danger" *ngIf="formUserNew.get('username')?.errors?.['required']"><strong>Nombre
                            de usuario
                            es
                            requerido.</strong></small>
                    <small class="text-danger" *ngIf="formUserNew.get('username')?.errors?.['minlength']"><strong>Minimo
                            requerido es 4.</strong></small>
                    <small class="text-danger" *ngIf="respose && respose.username">
                        <strong>{{respose.username}}</strong></small>
                </div>
            </div>

            <div class="field">
                <label for="correo"><strong>Contraseña: (*)</strong></label>

                <p-password type="password" id="password" name="password" placeholder="Ej: **********"
                    formControlName="password"
                    [class.is-invalid]="formUserNew.get('password')!.invalid && formUserNew.get('password')!.touched"
                    class="form-control" formcontrolname="password" required class="p-inputtext-sm" [toggleMask]="true"
                    required [maxLength]="15">
                    <ng-template pTemplate="header">
                        <h6>Elige una contraseña</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="mt-2">Sugerencias</p>
                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                            <li>Al menos una minúscula</li>
                            <li>Al menos una mayúscula</li>
                            <li>Al menos un numéro</li>
                            <li>Minimo 8 caracteres</li>
                        </ul>
                    </ng-template>
                </p-password>

                <div
                    *ngIf="formUserNew.get('password')?.invalid && formUserNew.get('password')?.touched || formUserNew.get('password')?.dirty">
                    <small class="text-danger"
                        *ngIf="formUserNew.get('password')?.errors?.['required']"><strong>Contraseña
                            es
                            requerido.</strong></small>
                    <small class="text-danger"
                        *ngIf="formUserNew.get('password')?.errors?.['pattern']"><strong>Contraseña invalida.</strong>
                    </small>
                </div>
            </div>

        </form>


        <div class="card col-12 md:col-12">
            <p class="m-1"><strong>Seleccione los roles: </strong> <strong
                    [style]="submitted && rolsAddUser.length === 0 ? 'color: red':''">(*)</strong></p>


            <div *ngFor="let role of listRoles" class="field-checkbox mt-2">


                <button *ngIf="isRoleAssigned(role)" type="button" pButton pRipple [label]="role.nombreRol!"
                    class="w-full custom-button" (click)="addRolsUser(role)"
                    [ngStyle]="isRoleAssigned(role) ? {color: 'black'}:{color: 'white'}">
                    <p-tag [icon]="'pi pi-'+(isRoleAssigned(role)? 'times':'check')"
                        [severity]="isRoleAssigned(role)? 'success':'danger'"
                        [value]="isRoleAssigned(role)?'Rol Asignado':'Asignar Rol'"
                        [pTooltip]="'Aplaste el boton para '+(!isRoleAssigned(role)?'Añadir':'Quitar')+' el Rol.'"
                        tooltipPosition="bottom"></p-tag>
                </button>


                <button *ngIf="!isRoleAssigned(role)" type="button" pButton pRipple [label]="role.nombreRol!"
                    class="w-full custom-button" (click)="addRolsUser(role)"
                    [ngStyle]="isRoleAssigned(role) ? {color: 'black'}:{color: 'white'}">
                    <p-tag [icon]="'pi pi-'+(isRoleAssigned(role)? 'times':'check')"
                        [severity]="isRoleAssigned(role)? 'success':'danger'"
                        [value]="isRoleAssigned(role)?'Rol Asignado':'Asignar Rol'"
                        [pTooltip]="'Aplaste el botón para '+(!isRoleAssigned(role)?'Añadir':'Quitar')+' el Rol.'"
                        tooltipPosition="bottom"></p-tag>
                </button>

            </div>


        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-outlined p-button-danger mt-2"
            (onClick)="hideDialogNewUser()"></p-button>
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-raised"
            (click)="validateUserSave()"></p-button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="editUserDialog" [style]="{ width: '450px' }" header="EDITAR USUARIO" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="formUserEdit">
            <div class="field">
                <label for="username"><strong>Nombre de Usuario: (*)</strong></label>
                <input type="username" pInputText id="username" name="username" placeholder="Nombre de usuario"
                    formControlName="username"
                    [class.is-invalid]="formUserEdit.get('username')!.invalid && formUserEdit.get('username')!.touched"
                    class="form-control" formcontrolname="username" [maxlength]="12"
                    onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                    required />

                <div
                    *ngIf="formUserEdit.get('username')?.invalid && formUserEdit.get('username')?.touched || formUserEdit.get('username')?.dirty">
                    <small class="text-danger" *ngIf="formUserEdit.get('username')?.errors?.['required']"><strong>Nombre
                            de usuario
                            es
                            requerido.</strong></small>
                    <small class="text-danger"
                        *ngIf="formUserEdit.get('username')?.errors?.['minlength']"><strong>Minimo
                            requerido es 4.</strong></small>
                    <small class="text-danger" *ngIf="respose && respose.username">
                        <strong>{{respose.username}}</strong></small>
                </div>
            </div>

            <div class="field">
                <label for="correo"><strong>Contraseña: (*)</strong></label>

                <p-password type="password" id="password" name="password" placeholder="Ej: **********"
                    formControlName="password"
                    [class.is-invalid]="formUserEdit.get('password')!.invalid && formUserEdit.get('password')!.touched"
                    class="form-control" formcontrolname="password" required class="p-inputtext-sm" [toggleMask]="true"
                    required [maxLength]="15">
                    <ng-template pTemplate="header">
                        <h6>Elige una contraseña</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="mt-2">Sugerencias</p>
                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                            <li>Al menos una minúscula</li>
                            <li>Al menos una mayúscula</li>
                            <li>Al menos un numéro</li>
                            <li>Minimo 8 caracteres</li>
                        </ul>
                    </ng-template>
                </p-password>

                <div
                    *ngIf="formUserEdit.get('password')?.invalid && formUserEdit.get('password')?.touched || formUserEdit.get('password')?.dirty">
                    <small class="text-danger"
                        *ngIf="formUserEdit.get('password')?.errors?.['required']"><strong>Contraseña
                            es
                            requerido.</strong></small>
                    <small class="text-danger"
                        *ngIf="formUserEdit.get('password')?.errors?.['pattern']"><strong>Contraseña
                            invalida.</strong>
                    </small>
                </div>
            </div>



        </form>

        <div class="card col-12 md:col-12">
            <p class="m-1"><strong>Seleccione los roles: </strong> <strong
                    [style]="submitted && rolsAddUser.length === 0 ? 'color: red':''">(*)</strong></p>


            <div *ngFor="let role of listRoles" class="field-checkbox mt-2">


                <button *ngIf="isRoleAssigned(role)" type="button" pButton pRipple [label]="role.nombreRol!"
                    class="w-full custom-button" (click)="addRolsUser(role)"
                    [ngStyle]="isRoleAssigned(role) ? {color: 'black'}:{color: 'white'}">
                    <p-tag [icon]="'pi pi-'+(isRoleAssigned(role)? 'times':'check')"
                        [severity]="isRoleAssigned(role)? 'success':'danger'"
                        [value]="isRoleAssigned(role)?'Rol Asignado':'Asignar Rol'"
                        [pTooltip]="'Aplaste el boton para '+(!isRoleAssigned(role)?'Añadir':'Quitar')+' el Rol.'"
                        tooltipPosition="bottom"></p-tag>
                </button>


                <button *ngIf="!isRoleAssigned(role)" type="button" pButton pRipple [label]="role.nombreRol!"
                    class="w-full custom-button" (click)="addRolsUser(role)"
                    [ngStyle]="isRoleAssigned(role) ? {color: 'black'}:{color: 'white'}">
                    <p-tag [icon]="'pi pi-'+(isRoleAssigned(role)? 'times':'check')"
                        [severity]="isRoleAssigned(role)? 'success':'danger'"
                        [value]="isRoleAssigned(role)?'Rol Asignado':'Asignar Rol'"
                        [pTooltip]="'Aplaste el botón para '+(!isRoleAssigned(role)?'Añadir':'Quitar')+' el Rol.'"
                        tooltipPosition="bottom"></p-tag>
                </button>

            </div>


        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-outlined p-button-danger mt-2"
            (onClick)="hideDialogNewUser()"></p-button>
        <p-button label="Actualizar" icon="pi pi-save" styleClass="p-button-raised"
            (click)="validateUpdateDataUser()"></p-button>
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>