<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Encuentranos</h4>
                            <span>Tarqui (sector estadio de Tarqui), Cuenca</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Llámanos</h4>
                            <span>0998681859</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Correo </h4>
                            <span>info@faanecuador.org</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-12 col-lg-4 mb-50">
                    <div class="footer-widget">

                        <div class="footer-text">
                            <p>FAAN es una organización ecuatoriana sin fines de lucro dedicada al bienestar y la
                                seguridad de los animales en el área
                                metropolitana de Cuenca.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>SIGUENOS EN</span>
                            <a href="https://www.facebook.com/familiaamoranimal" target="_blank"><i
                                    class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="https://www.instagram.com/fundacionfaan/?fbclid=IwAR1kh-vqTeHG2C8epRfRXqg34qu4ZNP8jRCAxm-hAgLJrV5zjLtA6dYx3X4%2F"
                                target="_blank"><i class="fab fa-instagram instagram-bg"></i></a>
                            <a href="https://www.faanecuador.org/es/" target="_blank"><i
                                    class="fab fa-globe fas globe-bg"></i></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer>