
<div class="p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"
  style="background-color: var(--blue)">
  <div class="font-bold mr-4">FAAN</div>
  <div class="align-items-center hidden lg:flex">
    <span class="line-height-3">🐶 Fundación Familia Amor Animal</span>
  </div>
</div>

<div class="m-4 grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Fundación Familia Amor Animal</span>
      <div class="text-6xl text-primary font-bold mb-3">
        organización dedicada a la protección, concienciación y defensa
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Por 8 años, FAAN ( Fundación Familia Amor Animal ) ha servido como
        santuario para perros maltratados, abandonados, descuidados y de alto
        rango en el área metropolitana de Cuenca, Ecuador, con un temporal
        refugio ubicado en Tarqui. Actualmente hay más de 150 perros a nuestro
        cuidado. FAAN es una organización ecuatoriana sin fines de lucro
        dedicada al bienestar y la seguridad de los animales en el área
        metropolitana de Cuenca.
      </p>
      <button pButton pRipple label="Iniciar sesión"
        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" (click)="goLogin()"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="../../../assets/img/narner.png" alt="Image" class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" />
  </div>
</div>

<div class="m-5 surface-card p-4 shadow-2 border-round">
  <div class="text-3xl font-medium text-900 mb-3 text-center">
    Videos Informativos
  </div>
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="grid">
      <div class="col-12 md:col-6 mb-6 px-5">
        <div class="text-900 text-xl mb-3 font-medium">Acerca de FAAN</div>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/02VY3wCVV64" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="col-12 md:col-6 mb-6 px-5">
        <div class="text-900 text-xl mb-3 font-medium">Ubicación</div>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/wCZjk1SDTG4" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>

