<app-header></app-header>
<div class="m-4 grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Fundación Familia Amor Animal</span>
      <div class="text-6xl text-primary font-bold mb-3">
        organización dedicada a la protección, concienciación y defensa
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        {{fundacion.objetivo}}
      </p>
      <button pButton pRipple label="Iniciar sesión"
        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" (click)="goLogin()"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="../../../assets/img/narner.png" alt="Image" class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" />
  </div>
</div>

<div class="m-5 surface-card p-4 shadow-2 border-round">
  <div class="text-3xl font-medium text-900 mb-3 text-center">
    Videos Informativos
  </div>
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="grid">
      <div class="col-12 md:col-6 mb-6 px-5">
        <div class="text-900 text-xl mb-3 font-medium">Acerca de FAAN</div>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/02VY3wCVV64" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="col-12 md:col-6 mb-6 px-5">
        <div class="text-900 text-xl mb-3 font-medium">Ubicación</div>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/wCZjk1SDTG4" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="text-3xl font-medium text-900 mb-3 text-center">
  🐶Animales que están en la fundación🐱
</div>
<div class="m-5 surface-card p-4 shadow-2 border-round">
  <div class="cards">
    <div class="card" *ngFor="let aniamles of ListAnimales">
      <div class="card__inner">
        <span>{{aniamles.nombreAnimal}}</span>
        <div class="mb-3">
          <img src="https://img.freepik.com/foto-gratis/perrito-joven-posando-alegre_155003-28765.jpg"
            [alt]="animal.fotoAnimal" class="w-6 shadow-2" />
        </div>
      </div>
    </div>
  </div>
  <div class="page m-5" style="text-align: center; align-items: center; margin-bottom: 10px;">
    <button *ngIf="isPage !== 0" type="button" (click)="anteriorE()" class="btn p-button-rounded"
      style="margin: 5px; margin-bottom: 30px;"><i class="pi pi-arrow-circle-left"></i></button>
    <button *ngIf="isPage !== pageTotal" type="button" (click)="siguienteE()" class="btn p-button-rounded "
      style="margin: 5px; margin-bottom: 30px; margin-left: 50px;"> <i class="pi pi-arrow-circle-right"></i></button>
  </div>
</div>

<!-- SECCION FOOTER -->
<app-footer></app-footer>

<!-- BUTTON WHATSAPP -->
<a href="https://api.whatsapp.com/send?phone=593998681859&text=Hola%20Fundaci%C3%B3n%20FAAN%20quiero%20mas%20informaci%C3%B3n"
  class="btn-wsp" target="_blank">
  <i class="fa-brands fa-whatsapp"></i>
</a>