<div class="card p-3">

    <p-toolbar styleClass="mb-3 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-primary mr-2"
                (click)="openNewTipoAnimal()" pTooltip="Crear nuevo tipo" tooltipPosition="bottom"></button>
        </ng-template>

        <ng-template pTemplate="right">

            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success mr-2" pTooltip="Excel de Tipos: XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="generatePdfAllTips()"
                class="p-button-danger mr-2" pTooltip="Pdf de Tipos: PDF" tooltipPosition="bottom"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="ListTipoAnimal" [rows]="10" [paginator]="true"
        [globalFilterFields]="['idTipoAnimal', 'nombreTipo', 'descripcionAnimal']"
        [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} tipo/S de animales"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">

            <div class="grid p-fluid align-items-center">
                <div class="col-12 md:col-8">
                    <div class="p-inputgroup">
                        <h5 class="m-0"><strong>Tipos de Animales</strong></h5><br>
                    </div>
                </div>

                <div class="col-12 md:col-4">

                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Buscar..." pTooltip="Buscar por nombre o descripción"
                            tooltipPosition="bottom" /> </span>
                </div>

            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="idTipoAnimal" style="min-width:2rem"><strong>ID</strong> <p-sortIcon
                        field="idTipoAnimal"></p-sortIcon></th>

                <th pSortableColumn="nombreTipo"><strong>NOMBRE</strong> <p-sortIcon field="nombreTipo"></p-sortIcon>
                </th>

                <th pSortableColumn="descripcionAnimal" style="min-width:15rem"><strong>DESCRIPCIÓN</strong> <p-sortIcon
                        field="category"></p-sortIcon></th>
                <th style="min-width:2rem"><strong>GESTIÓN</strong></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tipoAnimal>
            <tr>

                <td>{{ tipoAnimal.idTipoAnimal }}</td>

                <td>{{ tipoAnimal.nombreTipo }}</td>
                <td>{{ tipoAnimal.descripcionAnimal }}</td>

                <td>
                    <button pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success p-button-outlined mr-2"
                        (click)="editTipoAnimal(tipoAnimal)" [pTooltip]="'Editar Tipo: '+tipoAnimal.nombreTipo"
                        tooltipPosition="bottom"></button>

                    <button pButton pRipple [icon]="tipoAnimal.estadoTipo === 'A' ? 'pi pi-check' : 'pi pi-trash'"
                        [ngClass]="'p-button-rounded ' + (tipoAnimal.estadoTipo === 'A' ? 'p-button-secondary' : 'p-button-danger') + ' p-button-outlined mt-1'"
                        (click)="eliminadoLogicoDeLosTiposAnimales(tipoAnimal)"
                        [pTooltip]="(tipoAnimal.estadoTipo === 'A' ? 'Desactivar':'Activar')+' Tipo: '+tipoAnimal.nombreTipo"
                        tooltipPosition="bottom">
                    </button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total son {{ ListTipoAnimal ?
                ListTipoAnimal.length : 0 }} Tipo/S de animales.</div>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="tipoAnimalDialog" [style]="{ width: '450px', padding: screenWidth < 700 ? '10px' : '' }"
    header="Detalles del tipo de animal" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p style="font-size: 13px; color: red;">Los campos marcados con * son de ingreso obligatorio</p>
        <div class="field">
            <label for="nombreTipo"><strong>Nombre del Tipo: *</strong></label>

            <span class="p-input-icon-right ">
                <i class="pi pi-info-circle"
                    [style.color]="submitted && !tipoAnimal.nombreTipo || errorUnique ? 'red':''"></i>
                <input type="text"
                    [class]="submitted && (!tipoAnimal.nombreTipo || errorUnique) ? 'ng-invalid ng-dirty':''"
                    id="nombreTipo" placeholder="Ingrese el nombre del tipo" pInputText
                    [(ngModel)]="tipoAnimal.nombreTipo" required
                    onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' [maxlength]="25" autofocus />
            </span>
            <small class="p-error" *ngIf="submitted && !tipoAnimal.nombreTipo">Nombre es requerido.</small>
            <small class="p-error" *ngIf="submitted && !tipoAnimal.nombreTipo || errorUnique">{{errorUnique}}</small>

        </div>


        <div class="field">
            <label for="descripcionAnimal"><strong>Descripción: *</strong></label>
            <textarea id="descripcionAnimal" name="descripcionAnimal" pInputTextarea
                placeholder="Descripción del tipo animal" [(ngModel)]="tipoAnimal.descripcionAnimal" required rows="3"
                cols="20" [class]="submitted && !tipoAnimal.nombreTipo ? 'ng-dirty':''"
                onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' [maxlength]="250"></textarea>
            <small class="p-error" *ngIf="submitted && !tipoAnimal.descripcionAnimal">Descripción es requerido.</small>
        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple [label]=" tipoAnimal.idTipoAnimal ? 'Actualizar': 'Guardar'" icon="pi pi-check"
            class="p-button-text" (click)="saveAndUpdateTipoAnimal()"></button>
    </ng-template>
</p-dialog>