<app-header></app-header>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Fundación de Mascotas</title>
    <link rel="stylesheet" href="contacto.component.css">
</head>
<div class="social">
  <ul class="card-list">
    <li class="card-item"><a href="https://www.facebook.com/familiaamoranimal" target="_blank" ><i class="fab fa-facebook"></i></a></li>
    <li class="card-item"><a href="https://www.instagram.com/fundacionfaan/?fbclid=IwAR1kh-vqTeHG2C8epRfRXqg34qu4ZNP8jRCAxm-hAgLJrV5zjLtA6dYx3X4%2F" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li class="card-item"><a href="mailto:info@faanecuador.org" target="_blank"><i class="fas fa-envelope"></i></a></li>
  </ul>
</div>
<body>
    <div class="container">
        <section id="contacto" data-aos="fade-up" class="contact-section">
            <h3 class="titulo-seccion"><span class="icono-contacto"></span> Contáctanos</h3>
            <div class="contenedor-form">
                <form id="form" action="">
                    <div class="fila mitad">
                        <input type="text" placeholder="Nombre Completo *" class="input-mitad" name="emailjs_name" id="emailjs_name" required />
                        <input type="email" placeholder="Dirección de Email" class="input-mitad" name="emailjs_email" id="emailjs_email" required />
                    </div>
                    <div class="fila">
                        <input type="text" placeholder="Tema..." class="input-full" name="emailjs_tema" id="emailjs_tema" required />
                    </div>
                    <div class="fila">
                        <textarea name="emailjs_mensaje" id="emailjs_mensaje" cols="30" rows="10" placeholder="Tu Mensaje..." class="input-full"></textarea>
                    </div>
                    <button type="submit" id="button-send" class="btn-enviar"><span class="icono-enviar"></span> Enviar Mensaje</button>

                </form>
            </div>
            <p id="msg" class="msg"></p>
        </section>
    </div>
    
</body>
<footer id="footer-bottom">
  <div >
      <ul class="et-social-icons">
          <li><a href="https://www.facebook.com/familiaamoranimal" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/fundacionfaan/?fbclid=IwAR1kh-vqTeHG2C8epRfRXqg34qu4ZNP8jRCAxm-hAgLJrV5zjLtA6dYx3X4%2F" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="mailto:info@faanecuador.org" target="_blank"><i class="fas fa-envelope"></i></a></li>
      </ul>
      <p id="footer-info">© 2023 <a >Fundación FAAN</a>. Todos los derechos reservados.</p>
  </div>
</footer>









