@import url(https://fonts.googleapis.com/css?family=Raleway);

nav {
  margin-top: 0px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
}

#nav-3 {
  background: var(--blue);
}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.link-3:hover {
  background-color: #ffffff;
  color: #003cff;
  padding: 24px 10px;
  border-radius: 50%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Asegura que el contenedor ocupe al menos el 100% del alto de la ventana */
}

.floating-image {
  max-width: 100%;
  height: auto;
  animation: float 2s ease-in-out infinite;
  /* Aplica la animación */
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
    /* Empieza y termina en la posición original */
  }

  50% {
    transform: translateY(-10px);
    /* Punto más alto del movimiento */
  }
}

.social {
  position: fixed;
  /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
  left: 0;
  /* Establecemos la barra en la izquierda */
  top: 200px;
  /* Bajamos la barra 200px de arriba a abajo */
  z-index: 2000;
  /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
  list-style: none;
}

.social ul li a {
  display: inline-block;
  color: #fff;
  background: #65b2cc;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  /* Establecemos una transición a todas las propiedades */
}


.social ul li a:hover {
  background: #000;
  /* Cambiamos el fondo cuando el usuario pase el mouse */
  padding: 10px 30px;
  /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}


.social .card-list {
  list-style: none;
  padding: 0;

  justify-content: flex-start;
  /* Alinea los íconos al margen izquierdo */
}

.social .card-item {
  margin-right: 20px;
  /* Espaciado entre los íconos (puedes ajustar este valor) */
}

.social .card-item a i {
  font-size: 35px;
  /* Cambia el tamaño de los íconos según tus preferencias */
  color: #ffffff;
  /* Cambia el color de los íconos si es necesario */
}

.social .card-item a i.fa-instagram {
  font-size: 40px;
  /* Ajusta el tamaño del icono de Instagram según tus preferencias */
  color: #ffffff;
  /* Cambia el color del icono si es necesario */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://www.infobae.com/new-resizer/NNwFv_CNtXTiPQxsFWKuXahosQM=/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/NVWQSYGX3RC7ZBEHLPLDVXA3PU.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente el contenido */
  align-items: center;
  /* Centra verticalmente el contenido */
  height: 100vh;
  /* Establece la altura de la ventana de visualización */
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 70%;
  max-width: 700px;
  margin: 20px auto;

}

/* Estilos para las etiquetas */
label {
  font-size: 18px;
  /* Tamaño de fuente */
  color: #333;
  /* Color del texto */
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  /* Sombra del texto */
  margin-bottom: 8px;
  /* Espacio entre las etiquetas y los campos de entrada */
  display: block;
  /* Hacer que las etiquetas sean bloques para ocupar todo el ancho disponible */
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  /* Ocupar todo el ancho disponible */
  padding: 10px;
  /* Espacio interno */
  border: 1px solid #ccc;
  /* Borde */
  border-radius: 5px;
  /* Borde redondeado */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /* Sombra */
}

@media (min-width: 768px) {

  /* Aplicar estos estilos solo en pantallas más grandes (a partir de 768px de ancho) */
  .container {
    float: right;
    /* Colocar el contenedor a la derecha */
    clear: none;
    /* Evitar que se desplace debajo de otros elementos flotantes */
  }
}





.contact-section {
  padding: 20px;
  /* Reduce el espaciado interior */
  text-align: center;
}

.contact-section h3 {
  color: #70b8d0;;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contenedor-form {
  padding: 20px;
}

.input-full,
.input-mitad {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}



.msg {
  color: #0077cc;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

#footer-bottom {
  background-color: #333;
  /* Color de fondo gris (plomo) */
  padding: 20px 0;
  /* Espaciado interior */
  color: #fff;
  /* Color del texto */
  text-align: center;
  /* Centra horizontalmente el contenido */
}

.et-social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.et-social-icons li {
  display: inline-block;
  /* Muestra los íconos en línea */
  margin: 0 10px;
  /* Espacio entre íconos */
}

.et-social-icons a {
  text-decoration: none;
  color: #fff;
  /* Color de los iconos */
  font-size: 24px;
  /* Tamaño de los íconos */
  transition: transform 0.3s;
  /* Efecto de transformación al pasar el mouse */
}

.et-social-icons a:hover {
  transform: scale(1.2);
  /* Aumenta el tamaño al pasar el mouse */
}

#footer-info {
  margin: 10px 0;
  /* Espacio superior e inferior del párrafo */
  font-size: 14px;
  text-align: center;
  /* Centra horizontalmente el texto */
}

#footer-info a {
  color: #fff;
  /* Color de los enlaces en el texto */
  text-decoration: none;
}



.titulo-seccion {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow:
    -2px -2px 0 rgba(0, 0, 0, 0.5),
    2px -2px 0 rgba(0, 0, 0, 0.5),
    -2px 2px 0 rgba(0, 0, 0, 0.5),
    2px 2px 0 rgba(0, 0, 0, 0.5);
}

.icono-contacto::before {
  content: "\f0e0";
  /* Código del icono de contacto de Font Awesome */
  font-family: FontAwesome;
  font-size: 48px;
  margin-right: 10px;
  color: #70b8d0;
}

.btn-enviar {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #70b8d0;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.btn-enviar:hover {
  background-color: #5a9dbf;
}

.icono-enviar::before {
  content: "\f1d8";
  /* Código del icono de enviar de Font Awesome */
  font-family: FontAwesome;
  font-size: 24px;
  margin-right: 10px;
}