<app-header></app-header>
<div class="">

    <section class="importantes" style="width: 90%; margin-left: auto; margin-right: auto;">
        <h2 class="titulo-importante"><span class="icono-importante"></span>I M P O R T A N T E</h2>

        <h3 class="titulo-importante" style="text-align: center; margin-bottom: 50px; color: #70b8d0; font-size: 36px;">
            CONSIDERACIONES ANTES DE
            ADOPTAR
        </h3>


        <div class="grid p-fluid">
            <div class="col-12 md:col-8">
                <div>
                    <p>
                        Primeramente agradecemos tu interés en adoptar darle y dar una segunda oportunidad a uno de
                        nuestros
                        rescatados.

                        Para nosotros es muy importante cada uno de los perritos y gatitos que han sido rescatados ya
                        que
                        vienen
                        de
                        maltrato, calle o abandono, motivo por el cuál debemos asegurarnos que estará en buenas manos
                        bajo
                        tu
                        cuidado y
                        protección, por ello te pedimos que antes de llenar el siguiente formulario, leas con atención
                        las
                        siguientes
                        consideraciones que debes tomar en cuenta antes de adoptar un animalito.
                    </p>
                    <p>
                        El tener una animalito puede ser muy gratificante, pero sólo si realmente has meditado esta
                        decisión
                        antes de
                        adogtar un compañero.
                        <br>
                        <br>
                        El hecho de que estés pensando en adoptar un animal de un refugio significa que eres una persona
                        responsable y
                        humanitaria. Pero antes de tomar la decisión de traer un animalito a tu vida, tómate un momento
                        para
                        pensar en
                        estos
                        puntos:
                        <br>
                        <br>
                        ¿Porqué quieres un animalito?

                        Adogtar un animalito simplemente por novelería o porque los niños han estado lloriqueando
                        generalmente
                        termina
                        siendo un gran error. No te olvides de que algunas especies pueden estar contigo 10, 15 o
                        incluso 20
                        años.
                        <br>
                        <br>
                        ¿Tienes tiempo necesario?

                        Perros, gatos y otros animales de compañía no pueden ser ignorados simplemente porque estés
                        cansado
                        u
                        ocupado,
                        necesitan comida, agua, ejercicio, cariño y compañía. Muchos animales en los refugios están allí
                        porque
                        sus
                        dueños
                        no pensaron realmente cuánto tiempo llevaba cuidar de ellos.
                        <br>
                        <br>
                        Economía
                        Los costos de mantener un animalito pueden ser elevados:
                        Cuidados veterinarios, juguetes, comida y otros que se puedan ocasionar.
                        <br>
                        <br>
                        Otros.

                        Pulgas, lana en los muebles, travesuras, etc.
                        <br>
                        <br>
                        Te comprometes a hacerte cargo del animal por el resto de su vida, tomando en cuenta que vivirá
                        un
                        promedio
                        aproximado de 10 a 15 años?
                        <br>
                        <br>
                        Tomando estas consideraciones deseas continuar, llena la solicitud.
                    </p>
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
                    <img src="assets/img/perrito.png" width="50%" alt="">
                </div>
            </div>


        </div>

    </section>

    <!-- INFORMATION OF THE DATA -->
    <h1 class="titulo-importante" style="text-align: center; margin-bottom: 50px; color: #70b8d0;"><span
            class="icono-perro"></span>FORMULARIO DE ADOPCION DE ANIMAL DE COMPAÑIA</h1>

    <!-- INIT CONTROLLER -->
    <div class="mx-4 ml-4 principal ">
        <form ngNativeValidate>
            <div class="personal-data">

                <p-panel header="DATOS PERSONALES">
                    <!-- FIRTS DATA -->
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="nombre" name="nombre" type="text" pInputText [(ngModel)]="formulario.nombre"
                                    class="p-inputtext-sm"
                                    onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                    required />
                                <label for="nombre">Nombre *</label>
                            </span>
                            <small class="p-error" *ngIf="submitted && !formulario.nombre">{{error}}</small>
                        </div>

                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="ocupacion" name="ocupacion" type="text" pInputText
                                    [(ngModel)]="formulario.ocupacion" class="p-inputtext-sm"
                                    onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                    required />
                                <label for="ocupacion">Ocupación *</label>
                            </span>
                            <small class="p-error" *ngIf="submitted && !formulario.ocupacion">{{error}}</small>
                        </div>

                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="direccionDomiciliaria" name="direccionDomiciliaria" type="text" pInputText
                                    [(ngModel)]="formulario.direccionDomiciliaria" class="p-inputtext-sm"
                                    onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                    required />
                                <label for="float-input">Dirección domiciliaria *</label>
                            </span>
                            <small class="p-error"
                                *ngIf="submitted && !formulario.direccionDomiciliaria">{{error}}</small>
                        </div>
                    </div>

                    <!-- SECOND DATA -->

                    <div class="grid p-fluid mt-2">
                        <!-- NO REQUIERED -->
                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="direccionTrabajo" name="direccionTrabajo" type="text" pInputText
                                    [(ngModel)]="formulario.direccionTrabajo" class="p-inputtext-sm"
                                    onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                    required />
                                <label for="float-input">Dirección de trabajo</label>
                            </span>
                            <small class="p-error" *ngIf="submitted && !formulario.direccionTrabajo">{{error}}</small>
                        </div>

                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="correoE" name="correoE" type="text" pInputText
                                    [(ngModel)]="formulario.correoE" class="p-inputtext-sm" required />
                                <label for="float-input">Correo Electrónico *</label>
                            </span>
                            <small class="p-error" *ngIf="submitted && !validarCorreoE(formulario.correoE)">Correo no
                                valida</small>
                        </div>

                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="telefonoCasa" name="telefonoCasa" type="text" pInputText
                                    [(ngModel)]="formulario.telefonoCasa" class="p-inputtext-sm"
                                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57)' required />
                                <label for="float-input">Teléfono Casa * </label>
                            </span>
                            <small class="p-error" *ngIf="submitted && !formulario.telefonoCasa">{{error}}</small>
                        </div>
                    </div>

                    <!-- 3 DATA -->
                    <div class="grid p-fluid mt-2"> <!-- NO REQUIERED-->
                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="telefonoTrabajo" name="telefonoTrabajo" type="text" pInputText
                                    [(ngModel)]="formulario.telefonoTrabajo" class="p-inputtext-sm"
                                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57)' />
                                <label for="float-input">Teléfono Trabajo</label>
                            </span>
                            <small class="p-error" *ngIf="submitted && !formulario.telefonoTrabajo">{{error}}</small>
                        </div>

                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="celular" name="celular" type="text" pInputText
                                    [(ngModel)]="formulario.celular" class="p-inputtext-sm"
                                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57)' requiered />
                                <label for="float-input">Celular *</label>
                            </span>
                            <small class="p-error" *ngIf="submitted && !formulario.celular">{{error}}</small>
                        </div>

                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="estadoCivil" name="estadoCivil" type="text" pInputText
                                    [(ngModel)]="formulario.estadoCivil" class="p-inputtext-sm" />
                                <label for="float-input">Estado civil *</label>
                            </span>
                            <small class="p-error" *ngIf="submitted && !formulario.estadoCivil">{{error}}</small>
                        </div>
                    </div>

                    <!-- 4 DATA -->
                    <div class="grid p-fluid mt-2">
                        <div class="col-12 md:col-4 mt-2">
                            <p-inputNumber name="numeroMiembros" [(ngModel)]="formulario.numeroMiembros" mode="decimal"
                                [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="10"
                                class="p-inputtext-sm" placeholder="Número de miembros en la familia">
                            </p-inputNumber>

                            <small class="p-error" *ngIf="submitted && !formulario.numeroMiembros">{{error}}</small>
                        </div>

                        <!-- NO REQUIERED -->
                        <div class="col-12 md:col-4 mt-2">
                            <span class="p-float-label">
                                <input id="edadNinos" name="edadNinos" type="text" pInputText
                                    [(ngModel)]="formulario.edadNinos"
                                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57 || event.charCode === 44)' />
                                <label for="float-input">Edad niños ej: (1,2) </label>
                            </span>

                        </div>
                    </div>
                </p-panel>
            </div>

            <div class="data-about mt-2">
                <p-panel header="INFORMACÍON">

                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.autorizacion1 ? 'color: red':''">
                                1. ¿Quién es la persona que autorizará la adopción del animal? *
                            </label>
                            <p-dropdown [options]="listPersonaAutorizada" name="autorizacion1"
                                [(ngModel)]="formulario.autorizacion1" optionLabel="name" optionValue="name"
                                [filter]="true" filterBy="name" [showClear]="true"
                                placeholder="Seleccione una persona autorizada">
                                <ng-template pTemplate="selectedItem">
                                    <div class="flex align-items-center gap-2" *ngIf="formulario.autorizacion1">
                                        <div>{{ formulario.autorizacion1 }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-data pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ data.name }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>

                    </div>

                    <div class="p-grid p-fluid mt-3">
                        <div class="p-col-12 p-md-12 ">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.todoMiembrosAcuerdo2 ? 'color: red':''">
                                2. ¿Están todos los miembros de la familia enterados y de acuerdo con la intención de
                                adoptar un
                                animal de
                                compañía? *
                            </label>

                            <div class="flex align-items-center">
                                <p-radioButton name="todoMiembrosAcuerdo2" value="SI"
                                    [(ngModel)]="formulario.todoMiembrosAcuerdo2"></p-radioButton>
                                <label for="ingredient1" class="ml-2">SI</label>
                            </div>

                            <div class="flex align-items-center">
                                <p-radioButton name="todoMiembrosAcuerdo2" value="NO"
                                    [(ngModel)]="formulario.todoMiembrosAcuerdo2"></p-radioButton>
                                <label for="ingredient2" class="ml-2">NO</label>
                            </div>
                        </div>
                    </div>

                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">

                        </div>
                    </div>

                    <!-- 4 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <div class="p-col-12 p-md-12 ">
                                <label class="font-bold block mb-2"
                                    [style]="submitted && !formulario.viviraCon4 ? 'color: red':''">
                                    4. El animalito viviría con: *
                                </label>

                                <div class="flex align-items-center">
                                    <p-radioButton name="viviraCon4" value="A"
                                        [(ngModel)]="formulario.viviraCon4"></p-radioButton>
                                    <label for="ingredient1" class="ml-2">Conmigo y mi familia</label>
                                </div>

                                <div class="flex align-items-center">
                                    <p-radioButton name="viviraCon4" value="B"
                                        [(ngModel)]="formulario.viviraCon4"></p-radioButton>
                                    <label for="ingredient2" class="ml-2">Es obsequio para un conocido</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 5 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.considerar5 ? 'color: red':''">
                                5. Como lo vas a considerar?: *
                            </label>
                            <div class="flex align-items-center">
                                <p-radioButton name="considerar5" value="A"
                                    [(ngModel)]="formulario.considerar5"></p-radioButton>
                                <label for="ingredient1" class="ml-2">Una compañía</label>
                            </div>

                            <div class="flex align-items-center">
                                <p-radioButton name="considerar5" value="B"
                                    [(ngModel)]="formulario.considerar5"></p-radioButton>
                                <label for="ingredient2" class="ml-2">Un guardián</label>
                            </div>

                            <div class="flex align-items-center">
                                <p-radioButton name="considerar5" value="C"
                                    [(ngModel)]="formulario.considerar5"></p-radioButton>
                                <label for="ingredient2" class="ml-2">Un miembro más de la familia</label>
                            </div>

                            <div class="flex align-items-center">
                                <p-radioButton name="considerar5" value="D"
                                    [(ngModel)]="formulario.considerar5"></p-radioButton>
                                <label for="ingredient2" class="ml-2">Un amigo</label>
                            </div>
                        </div>

                    </div>

                    <!-- 6 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.animalesAnterioridad6 ? 'color: red':''">
                                6. ¿Han tenido animales de compañía con anterioridad? *
                            </label>

                            <div class="flex align-items-center">
                                <p-radioButton name="animalesAnterioridad6" value="SI"
                                    [(ngModel)]="formulario.animalesAnterioridad6"></p-radioButton>
                                <label for="ingredient1" class="ml-2">SI</label>
                            </div>

                            <div class="flex align-items-center">
                                <p-radioButton name="animalesAnterioridad6" value="NO"
                                    [(ngModel)]="formulario.animalesAnterioridad6"></p-radioButton>
                                <label for="ingredient2" class="ml-2">NO</label>
                            </div>
                        </div>
                    </div>

                    <!-- 7 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.animalPasado7 ? 'color: red':''">
                                7. ¿Qué animal era?
                            </label>

                            <input id="float-input" type="text" pInputText [(ngModel)]="formulario.animalPasado7"
                                name="animalPasado7" class="p-inputtext-sm" placeholder="Ingrese animal"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)' />
                        </div>
                    </div>

                    <!-- 8 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.tiempoVivido8 ? 'color: red':''">

                                8. ¿Cuánto tiempo vivió con ustedes?
                            </label>

                            <input id="tiempoVivido8" type="text" pInputText [(ngModel)]="formulario.tiempoVivido8"
                                name="tiempoVivido8" class="p-inputtext-sm" placeholder="Ingrese valor" />

                        </div>
                    </div>

                    <!-- 9 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">

                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.animalAhora9 ? 'color: red':''">
                                9. ¿En dónde está ahora el animal? ¿Por qué? Falleció, Como?
                            </label>
                            <textarea rows="4" cols="30" pInputTextarea [(ngModel)]="formulario.animalAhora9"
                                name="animalAhora9"></textarea>
                        </div>
                    </div>

                    <!-- 10 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">

                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.vacunado10 ? 'color: red':''">
                                10. ¿Estaba vacunado?
                            </label>
                            <div class="flex align-items-center">
                                <p-radioButton name="vacunado10" value="SI"
                                    [(ngModel)]="formulario.vacunado10"></p-radioButton>
                                <label for="ingredient1" class="ml-2">SI</label>
                            </div>

                            <div class="flex align-items-center">
                                <p-radioButton name="vacunado10" value="NO"
                                    [(ngModel)]="formulario.vacunado10"></p-radioButton>
                                <label for="ingredient2" class="ml-2">NO</label>
                            </div>

                        </div>
                    </div>

                    <!-- 11 -->
                    <div class="grid p-fluid mt-2">


                        <div class="col-12 md:col-6">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.vacunasAntes11 ? 'color: red':''">
                                11. ¿Qué vacunas se le aplicaron? y ¿Cada cuánto tiempo se vacunaba?
                            </label>
                            <textarea rows="4" cols="30" pInputTextarea [(ngModel)]="formulario.vacunasAntes11"
                                name="vacunasAntes11" placeholder="Ingrese respuesta"></textarea>
                        </div>

                        <div class="col-12 md:col-6">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.desparasitado12 ? 'color: red':''">
                                12. ¿Estaba desparasitado? ¿Cada cuánto tiempo se desparasitaba?
                            </label>
                            <textarea rows="4" cols="30" pInputTextarea [(ngModel)]="formulario.desparasitado12"
                                name="desparasitado12" placeholder="Ingrese respuesta"></textarea>

                        </div>
                    </div>


                    <!-- 13 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.horasSolo14 ? 'color: red':''">
                                13. ¿Cuántas horas del día permanecería solo?
                            </label>
                            <p-inputNumber [(ngModel)]="formulario.horasSolo14" name="horasSolo14" mode="decimal"
                                [showButtons]="true" [min]=" 0" [max]="10" class="p-inputtext-sm"
                                placeholder="Número de miembros en la familia">
                            </p-inputNumber>
                        </div>
                    </div>

                    <!-- 14 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.pasariaAnimal15 ? 'color: red':''">
                                14. ¿En dónde estaría mientras no hubiera nadie en casa? *
                            </label>

                            <input id="pasariaAnimal15" type="text" pInputText [(ngModel)]="formulario.pasariaAnimal15"
                                name="pasariaAnimal15" class="p-inputtext-sm" placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required />
                        </div>
                    </div>

                    <!-- 15 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.problemaAlergia16 ? 'color: red':''">
                                15. ¿Hay alguien en su familia con problemas de alergias? *
                            </label>

                            <input id="problemaAlergia16" name="problemaAlergia16" type="text" pInputText
                                [(ngModel)]="formulario.problemaAlergia16" class="p-inputtext-sm"
                                placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required />
                        </div>
                    </div>

                    <!-- 16 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.resultaAlergico17 ? 'color: red':''">
                                16. ¿Qué sucedería si alguien resultara alérgico al animal? *
                            </label>

                            <input id="resultaAlergico17" name="resultaAlergico17" type="text" pInputText
                                [(ngModel)]="formulario.resultaAlergico17" class="p-inputtext-sm"
                                placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required />
                        </div>
                    </div>

                    <!-- 17 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.planeaHijos18 ? 'color: red':''">
                                17. ¿Planea tener hijos? *
                            </label>

                            <div class="grid p-fluid">
                                <div class="col-12 md:col-12">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="planeaHijos18" value="SI"
                                            [(ngModel)]="formulario.planeaHijos18"></p-radioButton>
                                        <label for="planeaHijos18" class="ml-2">SI</label>
                                    </div>
                                </div>
                            </div>

                            <div class="grid p-fluid">
                                <div class="col-12 md:col-12">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="planeaHijos18" value="NO"
                                            [(ngModel)]="formulario.planeaHijos18"></p-radioButton>
                                        <label for="planeaHijos18" class="ml-2">NO</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 18 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.embaraza19 ? 'color: red':''">
                                18. ¿Qué sucedería si usted o en caso de ser hombre, su pareja quedara embarazada? *
                            </label>

                            <input id="embaraza19" name="embaraza19" type="text" pInputText
                                [(ngModel)]="formulario.embaraza19" class="p-inputtext-sm"
                                placeholder="Ingrese respuesta" required />
                        </div>
                    </div>

                    <!-- 19 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.conoceGastos20 ? 'color: red':''">
                                19. ¿Conoce los gastos que implica tener un perro o gato? *
                            </label>

                            <input id="conoceGastos20" name="conoceGastos20" type="text" pInputText
                                [(ngModel)]="formulario.conoceGastos20" class="p-inputtext-sm"
                                placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required />
                        </div>
                    </div>


                    <!-- 20 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.separacionFamilia21 ? 'color: red':''">
                                20. Con quien quedaría el animalito en caso de separación? *
                            </label>

                            <input id="separacionFamilia21" name="separacionFamilia21" type="text" pInputText
                                [(ngModel)]="formulario.separacionFamilia21" class="p-inputtext-sm"
                                placeholder="Ingrese respuesta" />
                        </div>
                    </div>
                </p-panel>
            </div>

            <div class="data-about mt-2">
                <p-panel header="VIVIENDA">
                    <!-- 21 -->
                    <div class="grid p-fluid mt-2">
                        <div class="col-12 md:col-6 mt-2">

                            <!-- NO REQUIERED -->
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.tipoVivienda22 ? 'color: red':''">
                                21. Tu vivienda es: *
                            </label>

                            <div class="grid p-fluid">
                                <div class="col-12 md:col-12">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="tipoVivienda22" value="A"
                                            [(ngModel)]="formulario.tipoVivienda22"></p-radioButton>
                                        <label for="tipoVivienda22" class="ml-2">Casa</label>
                                    </div>
                                </div>
                            </div>

                            <div class="grid p-fluid">
                                <div class="col-12 md:col-12">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="tipoVivienda22" value="B"
                                            [(ngModel)]="formulario.tipoVivienda22"></p-radioButton>
                                        <label for="tipoVivienda22" class="ml-2">Departamento</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 md:col-6 mt-2">

                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.vivienda23 ? 'color: red':''">
                                Tu vivienda es: *
                            </label>

                            <div class="grid p-fluid">
                                <div class="col-12 md:col-6">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="vivienda23" value="A"
                                            [(ngModel)]="formulario.vivienda23"></p-radioButton>
                                        <label for="vivienda23" class="ml-2">Propia</label>
                                    </div>

                                </div>
                                <div class="col-12 md:col-6">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="vivienda23" value="B"
                                            [(ngModel)]="formulario.vivienda23"></p-radioButton>
                                        <label for="vivienda23" class="ml-2">Rentada</label>
                                    </div>
                                </div>
                            </div>

                            <div class="grid p-fluid">
                                <div class="col-12 md:col-6">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="vivienda23" value="C"
                                            [(ngModel)]="formulario.vivienda23"></p-radioButton>
                                        <label for=" vivienda23" class="ml-2">Compartida</label>
                                    </div>

                                </div>
                                <div class="col-12 md:col-6">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="vivienda23" value="D"
                                            [(ngModel)]="formulario.vivienda23"></p-radioButton>
                                        <label for="vivienda23" class="ml-2">Otra</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <p-divider type="dashed"></p-divider>

                    <!-- 22 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.jardioPatio24 ? 'color: red':''">
                                22. ¿Tiene jardín o patio? *
                            </label>

                            <div class="flex align-items-center">
                                <p-radioButton name="jardioPatio24" value="Jardín"
                                    [(ngModel)]="formulario.jardioPatio24"></p-radioButton>
                                <label for="jardioPatio24" class="ml-2">Jardín</label>
                            </div>

                            <div class="flex align-items-center">
                                <p-radioButton name="jardioPatio24" value="Patio"
                                    [(ngModel)]="formulario.jardioPatio24"></p-radioButton>
                                <label for="jardioPatio24" class="ml-2">Patio</label>
                            </div>
                        </div>
                    </div>

                    <!-- 23 -->
                    <div class="grid p-fluid mt-2">
                        <div class="col-12 md:col-12 mt-2">

                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.parteCasaVivirAnimal25 ? 'color: red':''">
                                23. En que parte de tu casa va a vivir el animalito: *
                            </label>

                            <div class="grid p-fluid">
                                <div class="col-12 md:col-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="parteCasaVivirAnimal25" value="A"
                                            [(ngModel)]="formulario.parteCasaVivirAnimal25"></p-radioButton>
                                        <label for="ingredient1" class="ml-2">Jardín</label>
                                    </div>
                                </div>
                                <div class="col-12 md:col-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="parteCasaVivirAnimal25" value="B"
                                            [(ngModel)]="formulario.parteCasaVivirAnimal25"></p-radioButton>
                                        <label for="ingredient1" class="ml-2">Patio</label>
                                    </div>

                                </div>
                                <div class="col-12 md:col-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="parteCasaVivirAnimal25" value="C"
                                            [(ngModel)]="formulario.parteCasaVivirAnimal25"></p-radioButton>
                                        <label for="ingredient3" class="ml-2">Azotea</label>
                                    </div>
                                </div>

                                <div class="col-12 md:col-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="parteCasaVivirAnimal25" value="D"
                                            [(ngModel)]="formulario.parteCasaVivirAnimal25"></p-radioButton>
                                        <label for="ingredient4" class="ml-2">Dentro de casa</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 24 -->
                    <div class="grid p-fluid mt-2">
                        <div class="col-12 md:col-12 mt-2">

                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.dormirAnimalParte26 ? 'color: red':''">
                                24. ¿En dónde dormiría? *
                            </label>

                            <div class="grid p-fluid">
                                <div class="col-12 md:col-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="dormirAnimalParte26" value="A"
                                            [(ngModel)]="formulario.dormirAnimalParte26"></p-radioButton>
                                        <label for="ingredient1" class="ml-2">Jardín</label>
                                    </div>
                                </div>
                                <div class="col-12 md:col-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="dormirAnimalParte26" value="B"
                                            [(ngModel)]="formulario.dormirAnimalParte26"></p-radioButton>
                                        <label for="dormirAnimalParte26" class="ml-2">Patio</label>
                                    </div>

                                </div>
                                <div class="col-12 md:col-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="dormirAnimalParte26" value="C"
                                            [(ngModel)]="formulario.dormirAnimalParte26"></p-radioButton>
                                        <label for="dormirAnimalParte26" class="ml-2">Azotea</label>
                                    </div>
                                </div>

                                <div class="col-12 md:col-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="dormirAnimalParte26" value="D"
                                            [(ngModel)]="formulario.dormirAnimalParte26"></p-radioButton>
                                        <label for="dormirAnimalParte26" class="ml-2">Dentro de casa</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 25 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2">
                                25. Si vive en departamento, ¿hay otros vecinos que tengan animales de compañía?
                            </label>

                            <input id="vecinosAnimales27" name="vecinosAnimales27" type="text" pInputText
                                [(ngModel)]="formulario.vecinosAnimales27" class="p-inputtext-sm"
                                placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required />
                        </div>
                    </div>

                    <!-- 26 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.permiso28 ? 'color: red':''">
                                26. En caso de renta o condominio cuentas con el permiso de tu casero o administración
                                para
                                poseer animales de compañía? *
                            </label>

                            <input id="permiso28" name="permiso28" type="text" pInputText
                                [(ngModel)]="formulario.permiso28" class="p-inputtext-sm"
                                placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required />
                        </div>
                    </div>

                    <!-- 27 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.mudarseLugar29 ? 'color: red':''">
                                27. ¿Qué sucedería si tuviera que mudarse a otra casa o ciudad /país? *
                            </label>

                            <textarea name="mudarseLugar29" rows="3" cols="30" pInputTextarea
                                [(ngModel)]="formulario.mudarseLugar29" placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required></textarea>

                        </div>
                    </div>

                    <!-- 28 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.mudarse30 ? 'color: red':''">
                                28. ¿Qué sucedería si al mudarse algún lugar donde no admiten perros o gatos o de tener
                                algún
                                problema familiar o económico? *
                            </label>

                            <textarea name="mudarse30" rows="3" cols="30" pInputTextarea
                                [(ngModel)]="formulario.mudarse30" placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required></textarea>

                        </div>
                    </div>

                    <!-- 29 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.dispuesto31 ? 'color: red':''">
                                29. ¿Está dispuesto a que el perro o gato tenga un periodo de ajuste en el que aprenda
                                dónde
                                debe ir al baño y se adapte
                                a la familia? *
                            </label>

                            <input id="dispuesto31" name="dispuesto31" type="text" pInputText
                                [(ngModel)]="formulario.dispuesto31" class="p-inputtext-sm"
                                placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required />
                        </div>
                    </div>

                    <!-- 30 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2"
                                [style]="submitted && !formulario.enterarse32 ? 'color: red':''">
                                30. ¿Cómo te enteraste de nosotros? *
                            </label>

                            <input id="enterarse32" name="enterarse32" type="text" pInputText
                                [(ngModel)]="formulario.enterarse32" class="p-inputtext-sm"
                                placeholder="Ingrese respuesta"
                                onkeypress='return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode === 32)'
                                required />
                        </div>
                    </div>

                    <!-- 31 -->
                    <div class="p-grid p-fluid mt-2">
                        <div class="p-col-12 p-md-12 mt-2">
                            <label class="font-bold block mb-2">
                                31. otros comentarios.
                            </label>
                            <textarea name="otrosComentarios33" rows="4" cols="30" pInputTextarea
                                [(ngModel)]="formulario.otrosComentarios33" placeholder="Ingrese respuesta"></textarea>

                        </div>
                    </div>

                    <div class="contain-principal text-center mt-3">
                        <p-button type="button" icon="pi pi-eye" [label]="loading ? 'Generando...':'Generar Formulario'"
                            [loading]="loading" (onClick)="formValidate()"></p-button>

                    </div>
                </p-panel>



            </div>

        </form>


    </div>
    <!-- END CONTROLLER -->


    <div class="data mt-4">
        <div class="mx-4 ml-4 grid p-fluid">
            <div class="col-12 md:col-6">
                <img src="assets/img/perropng.png" />
            </div>
            <div class="col-12 md:col-6">
                <h2>
                    Una vez llenado este formulario pasaremos a los siguientes requerimientos:
                </h2>
                <br />
                <p style="font-size: 23px">
                    Después de conocer el perro o gato con interés en adoptar, se deberá
                    realizar una visita de convivencia, así como recibir una platica sobre el
                    cuidado de una mascota. Entregar copia de Identificación oficial y
                    comprobante de domicilio (planilla servicios básicos) Tener la
                    disponibilidad de recibir una visita de parte de la asociación para
                    conocer el lugar donde habitará el animalito en adopción. Segunda visita
                    de familiarización y entrega de donativo de $ 15.00 o su equivalente en
                    comida para perros los cual ayudara a seguir con nuestra labor. Es
                    obligación de FAAN entregarte al animalito vacunado, desparasitado y
                    esterilizado si tiene edad para hacerlo
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>