<main>
    <div class="lateral"></div>
    <div class="login">
        <div class="p-4 d w-full lg:w-6" style="background-color: #f7fafb;">
            <div class="text-center mb-5">
                <img src="../../../assets/img/logo.png" alt="Image" height="100" style="border-radius: 50%;"
                    class="mb-3">
                <div class="text-900 text-3xl font-medium mb-3">Bienvenido</div>
            </div>
            <div>
                <label for="username" class="block text-900 font-medium mb-2">Usuario</label>
                <input id="username" type="text" name="username" [(ngModel)]="usuarioLoginDTO.username" pInputText
                    class="w-full mb-3" placeholder="Usuario">

                <label for="password1" class="block text-900 font-medium mb-2">Contraseña</label>
                <input id="password" type="password" name="password" [(ngModel)]="usuarioLoginDTO.password" pInputText
                    class="w-full mb-3" placeholder="*********">

                <div class="flex align-items-center justify-content-between mb-6">
                    <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
                        (click)="openDialogRecoverPassword()">Olvido su contraseña?</a>
                </div>

                <button pButton (click)="singIn()" pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
            </div>
        </div>
    </div>
</main>

<!-- IMPLEMENT RECOVER PASSWORD -->
<p-dialog [(visible)]="dialogRecoverPassword" [style]="{ width: '450px', padding: screenWidth < 600 ? '10px' : '' }"
    header="Recuperación de Contraseña" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formulario">
            <div class="field">
                <label for="email"><strong>Ingrese su correo electrónico.</strong></label>
                <input type="email" pInputText id="email" name="email" placeholder="Dirección de correo electrónico"
                    formControlName="email"
                    [class.is-invalid]="formulario.get('email')!.invalid && formulario.get('email')!.touched"
                    class="form-control" formcontrolname="email" required autofocus />

                <div
                    *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched || formulario.get('email')?.dirty">
                    <small class="text-danger" *ngIf="formulario.get('email')?.errors?.['required']">Correo es
                        requerido.</small>
                    <small class="text-danger" *ngIf="formulario.get('email')?.errors?.['pattern']">Dirección de correo
                        invalido </small>
                </div>

                <div class="flex justify-content-center mt-4" *ngIf="!isEmpty(responseServer)">
                    <p-message
                        [severity]="responseServer.status === 200 ? 'success': responseServer.status === 404 ? 'warn':'error' "
                        [text]="responseServer.message"></p-message>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"
            [disabled]="submitted ? true : false"></button>
        <button pButton pRipple [label]="submitted ? 'Validando': 'Envíar'"
            [icon]="'pi '+(submitted ? 'pi-spin pi-spinner':'pi-check')" [disabled]="submitted ? true : false"
            class="p-button-text" (click)="sendRecoverPassword()"></button>
    </ng-template>
</p-dialog>

<p-dialog header="" [(visible)]="visibleRolnoAsignado" [modal]="true" [style]="{ width: '25vw', height: '10' }"
    [draggable]="false" [resizable]="false" [responsive]="true" [appendTo]="'body'">
    <div class="container p-fluid">
        <div class="card">
            <div class="card-header">
                <h2>¡Rol no asignado!</h2>
            </div>
            <div class="card-body">
                <p>Para acceder a esta funcionalidad, necesitas un rol asignado.</p>
                <p>Por favor, contacta a los administradores del sistema para solicitar el rol correspondiente.</p>
                <button pButton type="button" label="Contactar Administradores" icon="pi pi-envelope"></button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="Seleccione el rol con el cual va ingresar al sistema" [(visible)]="visibleListRoles" [modal]="true"
    [style]="{ width: '100vh', height: '38vh' }" [draggable]="false" [resizable]="false">
    <!-- <div class="grid flex p-fluid m-2" style="align-items: center;text-align: center;justify-content: center; ">
    <div class="" *ngFor="let list of roles">          
          <div class="badge-wrapper" (click)="guardarRolStorage(list.nombreRol!)" >
            <div class="trait_badge" [ngClass]="list.nombreRol === 'ADMINISTRADOR' ? 'yellow' : list.nombreRol === 'SUPERADMINISTRADOR' ? 'blue-dark' : 'green'">
              <div class="circle">
                <svg *ngIf="list.nombreRol === 'SUPERADMINISTRADOR'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 16c-6.7 0-10.8-2.8-15.5-6.1C201.9 5.4 194 0 176 0c-30.5 0-52 43.7-66 89.4C62.7 98.1 32 112.2 32 128c0 14.3 25 27.1 64.6 35.9c-.4 4-.6 8-.6 12.1c0 17 3.3 33.2 9.3 48H45.4C38 224 32 230 32 237.4c0 1.7 .3 3.4 1 5l38.8 96.9C28.2 371.8 0 423.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-58.5-28.2-110.4-71.7-143L415 242.4c.6-1.6 1-3.3 1-5c0-7.4-6-13.4-13.4-13.4H342.7c6-14.8 9.3-31 9.3-48c0-4.1-.2-8.1-.6-12.1C391 155.1 416 142.3 416 128c0-15.8-30.7-29.9-78-38.6C324 43.7 302.5 0 272 0c-18 0-25.9 5.4-32.5 9.9c-4.8 3.3-8.8 6.1-15.5 6.1zm56 208H267.6c-16.5 0-31.1-10.6-36.3-26.2c-2.3-7-12.2-7-14.5 0c-5.2 15.6-19.9 26.2-36.3 26.2H168c-22.1 0-40-17.9-40-40V169.6c28.2 4.1 61 6.4 96 6.4s67.8-2.3 96-6.4V184c0 22.1-17.9 40-40 40zm-88 96l16 32L176 480 128 288l64 32zm128-32L272 480 240 352l16-32 64-32z"/></svg>
                <svg *ngIf="list.nombreRol === 'ADMINISTRADOR'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 16c-6.7 0-10.8-2.8-15.5-6.1C201.9 5.4 194 0 176 0c-30.5 0-52 43.7-66 89.4C62.7 98.1 32 112.2 32 128c0 14.3 25 27.1 64.6 35.9c-.4 4-.6 8-.6 12.1c0 17 3.3 33.2 9.3 48H45.4C38 224 32 230 32 237.4c0 1.7 .3 3.4 1 5l38.8 96.9C28.2 371.8 0 423.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-58.5-28.2-110.4-71.7-143L415 242.4c.6-1.6 1-3.3 1-5c0-7.4-6-13.4-13.4-13.4H342.7c6-14.8 9.3-31 9.3-48c0-4.1-.2-8.1-.6-12.1C391 155.1 416 142.3 416 128c0-15.8-30.7-29.9-78-38.6C324 43.7 302.5 0 272 0c-18 0-25.9 5.4-32.5 9.9c-4.8 3.3-8.8 6.1-15.5 6.1zm56 208H267.6c-16.5 0-31.1-10.6-36.3-26.2c-2.3-7-12.2-7-14.5 0c-5.2 15.6-19.9 26.2-36.3 26.2H168c-22.1 0-40-17.9-40-40V169.6c28.2 4.1 61 6.4 96 6.4s67.8-2.3 96-6.4V184c0 22.1-17.9 40-40 40zm-88 96l16 32L176 480 128 288l64 32zm128-32L272 480 240 352l16-32 64-32z"/></svg>
              </div>
                <div class="ribbon text-center"
                [textContent]="list.nombreRol === 'ADMINISTRADOR' ? 'ADMINISTRADOR' : list.nombreRol === 'SUPERADMINISTRADOR' ? 'SUPER ADMINISTRADOR' : 'NULL'">
                </div>  
            </div>            
          </div>
    </div> -->
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">End-to-End Encryption</div>
            <span class="text-700 line-height-3">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin
                aliquam ultrices sagittis.</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Trusted Securitty</div>
            <span class="text-700 line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus
                aliquam eleifend.</span>
        </div>
    </div>

</p-dialog>