<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apock web design</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img class="profile-img-lg img-fluid rounded-circle"
                [src]='"https://bucketgtmt.s3.amazonaws.com/" + usuario?.fotoPerfil' />
               
            </div>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h4 class="titulo">{{persona.nombre1}} {{persona.nombre2}} {{persona.apellido1}} {{persona.apellido2}}</h4>
            <h5 class="text-primary mb-3"><i class="bx bx-user mr-2"></i>Roles</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let rol of roles">{{ rol }}</li>
                </ul>
        </div>
        <h5 class="text-primary mt-4 mb-3"><i class="bx bx-info-circle mr-2"></i>Información Personal</h5>
        <div class="perfil-usuario-footer">
            
            <ul class="lista-datos">
                <li><i class='bx bx-current-location mr-2'></i>{{persona.identificacion}}</li>
                <li><i class='bx bx-current-location mr-2'></i>{{persona.direccion}}</li>
                <li><i class='bx bxs-calendar mr-2'></i>{{persona.correo}}</li>
                <li><i class='bx bx-world mr-2'></i>{{persona.telefono}}</li>
            </ul>
            <ul class="lista-datos">
                <li><i class='bx bx-phone mr-2'></i>{{persona.celular}}</li>
                <li><i class='bx bx-calendar mr-2'></i>{{persona.genero === 'M' ? 'Masculino' : 'Femenino'}}</li>
                <li><i class='bx bx-calendar mr-2'></i>{{persona.fechaNacimiento}}</li>
            </ul>
        </div>
        <div class="redes-sociales">
            <a type="button" (click)="showDialog()" class="boton-redes instagram "><i class="fas fa-edit"></i></a>
        </div>
    </div>
</section>


<!-- MODAL EDIT DATA -->
<p-dialog header="Datos Fundación" [(visible)]="visible" [modal]="true" [style]="{ width: '80vw' }" [draggable]="false"
    [resizable]="false">


    <form (ngSubmit)="updatePerfilById()" ngNativeValidate style="padding: 15px;">

        <p-card header="" class="m-5 text-center align-items-center">

            <div class="grid p-fluid m-4">
                <div class="card flex justify-content-center">
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="file" accept="image/jpeg, image/jpg, image/png"
                                    (change)="onFileSelected($event)" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid p-fluid m-2">
                <div class="col-12 md:col-4 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="identificacion" name="identificacion" [disabled]="true"
                                title="Este campo no se puede editar" [(ngModel)]="persona.identificacion" />
                            <label htmlFor="identificacion" class="pi pi-id-card"> identificacion <span
                                    class="red-asterisk"></span></label>
                        </span>
                    </div>
                </div>

                <div class="col-12 md:col-4 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="nombre1" name="nombre1" [(ngModel)]="persona.nombre1" />
                            <label htmlFor="nombre1" class="pi pi-user"> Primer Nombre <span
                                    class="red-asterisk"></span></label>
                        </span>
                    </div>
                </div>

                <div class="col-12 md:col-4 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="nombre2" name="nombre2" [(ngModel)]="persona.nombre2" />
                            <label htmlFor="nombre2" class="pi pi-user"> Segundo Nombre <span
                                    class="red-asterisk"></span></label>
                        </span>
                    </div>
                </div>
            </div>
            <br>
            <div class="grid p-fluid m-2">
                <div class="col-12 md:col-4 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="apellido1" name="apellido1" [disabled]="true"
                                title="Este campo no se puede editar" [(ngModel)]="persona.apellido1" />
                            <label htmlFor="apellido1" class="pi pi-id-card"> Primer Apellido <span
                                    class="red-asterisk"></span></label>
                        </span>
                    </div>
                </div>

                <div class="col-12 md:col-4 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="apellido2" name="apellido2"
                                [(ngModel)]="persona.apellido2" />
                            <label htmlFor="apellido2" class="pi pi-user"> Segundo Apellido <span
                                    class="red-asterisk"></span></label>
                        </span>
                    </div>
                </div>


                <div class="col-12 md:col-4 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            
                            <select type="text" pInputText  name="genero" id="genero" [(ngModel)]="persona.genero">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                            
                        </span>
                    </div>
                </div>

            </div>


            <!-- FILA 2-->
            <br>
            <div class="grid p-fluid m-2">
                <div class="col-12 md:col-4 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="direccion" name="direccion"
                                [(ngModel)]="persona.direccion" />
                            <label htmlFor="direccion" class="pi pi-phone"> Direccion <span
                                    class="red-asterisk"></span></label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-4 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="telefono" name="telefono"
                                [(ngModel)]="persona.telefono" />
                            <label htmlFor="telefono" class="pi pi-mobile"> Telefono <span
                                    class="red-asterisk"></span></label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-4 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="celular" name="celular" [(ngModel)]="persona.celular" />
                            <label htmlFor="celular" class="pi pi-mobile"> Celular <span
                                    class="red-asterisk"></span></label>
                        </span>
                    </div>
                </div>
            </div>

            <!-- FILA 3-->
            <br>
            <div class="grid p-fluid m-2">
                <div class="col-12 md:col-6 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="correo" name="correo" [(ngModel)]="persona.correo" />
                            <label htmlFor="correo" class="pi pi-phone"> Correo <span
                                    class="red-asterisk"></span></label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-6 mt-1">
                    <div class="p-inputgroup">
                        <p-calendar inputId="edad" class="ng-dirty" [showIcon]="true" placeholder="Fecha Nacimiento"
                            id="fechaNacimiento" name="fechaNacimiento" class="w-full mb-3"
                            [(ngModel)]="persona.fechaNacimiento"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-card-body">
                <div class="text-center">
                    <button type="submit" class="btn btn-primarys" pButton label="Actualizar" icon="pi pi-user"></button>
                </div>
            </div>
        </p-card>
    </form>
</p-dialog>
